<footer class="card mt-5 footer">
  <div class="card-body text-center">
      CST336 Internet Programming. 2020&copy; Davis, Randolph, Robell, and Singh <br>
      <hr>
      Background Photo by <a href="https://www.pexels.com/@sam-willis-457311">Sam Willis</a> from Pexels
  </div>
</footer>