<!DOCTYPE html>
<html>
    <head>
        <title> newsdrop: error </title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="add-page mx-auto">
        <%- include('partials/empty-nav.ejs') %>
        <main class="card bg-light mx-auto mt-5">
            <div class="card-header"> Add Error </div>
            <div class="card-body">
                <h4 class="card-title"> Sorry! Your post wasn't added. </h4>
                <%= msg %>
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control" placeholder="<%= url %>" readonly>
                </div>
                <hr>
                <div class="text-center">
                    <a href="/" type="button" class="btn btn-secondary">Home</a>
                    <a href="/add" type="button" class="btn btn-secondary">Submit Another Post</a>
                </div>
            </div>
                
        </main>
        
        <%- include('partials/add-footer.ejs') %>
    </body>
</html>