<!DOCTYPE html>
<html>
    <head>
        <title> Newsdrop </title>
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="js/functions.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body id="home-feed">
        <nav class="navbar navbar-expand-sm navbar-light">
            <span class="navbar-brand" href="#">Newsdrop</span>
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/userPosts">User Posts</a>
                <a class="nav-link" href="/reddit">Reddit</a>
                <a class="btn btn-outline-dark" href="/add">Add Post</a>
            </div>
        </nav>
        
        <main id="main-container" class="mx-auto">
            <div class="card title-card mt-5 mb-2 mx-auto">
                <div class="card-header"><h4 class="mx-auto">All Posts</h4></div>
            </div>
             <div id="results" class="card-columns"></div>
        </main>
   
    <%- include('partials/main-footer.ejs') %>
   <script type="module" src="js/reddit-api.js"></script>
  <script type="module" src="js/reddit-functions.js"></script>
    </body>
</html>