<!DOCTYPE html>
<html>
    <head>
        <title> Newsdrop </title>
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="js/functions.js"></script>
    </head>
    
    <body class="add-page mx-auto">
        <div class="card bg-light mt-5">
            <div class="card-header"><a class="link" href="/"> Switch to Reddit Links(Not currently functional) </a></div>
            <div class="card-body">
    
   <h1>User Saved Articles</h1>
    
   
    <div id="results"></div>

      </div>
</div>
   
    <%- include('partials/footer.ejs') %>
   
    </body>
</html>