<!DOCTYPE html>
<html>
    <head>
        <title> newsdrop </title>
    </head>
    <body>
        <h1>Welcome to newsdrop!</h1>
<a class= "link" href="/userlinks"> User Links </a></div>
    </body>
</html>