body {
    background-image: url(../img/rain_trees_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
}

input[type="radio"] {
    margin-left: 20px;
}

.add-page {
    max-width: 40rem;
}

.post:link, .post:hover {
    text-decoration: none;
}

.navbar-brand{
    margin-left: 10%;
    font-size: 1.4em;
}

.navbar, .footer, .title-card {
    background-color: rgba(240, 240, 240, 0.85);
}

a.visited {
    border: 1px solid gray;
    background-color: rgba(231, 254, 255, 0.85);
}

#main-container {
    max-width: 60rem;
}